<!DOCTYPE html>
<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>
<body>
<app>Loading...</app>
<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server reload -->
<script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
